<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:fragment="myInfo(userInfo)">
    <body>
    <div>
        <form th:action="@{/myPage/updateUserInfo}"
        method="post"
        th:object="${updateUserInfo}">
            이미지 <button> 변경하기 </button>
            <small name="email" th:text="${userInfo.email}"></small>
            <input type="text" name="name" th:value="${userInfo.name}"/> 이름
            <input type="text" name="gender" th:value="${userInfo.gender}"/> 성별
            <button type="submit">변경하기</button>
        </form>
    </div>

    </body>
</th:block>

</html>