<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/myPage/myPage.css}" rel="stylesheet"/>
    <title>게시판</title>
</head>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main>
    <div id="menu">
        <ul class="menuList">
            <li class="defaultMenu">
                <a href="#tab1" class="btn">내 정보</a>
            </li>
            <li>
                <a href="#tab2" class="btn">내 게시물</a>
            </li>
            <li>
                <a href="#tab3" class="btn">비밀번호 변경</a>
            </li>
        </ul>
    </div>
    <div id="myPage">
        <div class="pageFrame">
            <div id="tab1"
                 style="display:block;">
                <div th:replace="/myPage/myInfo :: myInfo()">

                </div>
            </div>
            <div id="tab2"
                 style="display: none;">
                <div th:replace="/myPage/myContent :: myContent()">

                </div>
            </div>
            <div id="tab3"
                 style="display: none;">
                <div th:replace="/myPage/pwChange :: pwChange()">

                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!--.tab_menu-->

<script>
    const chooseMenu = document.querySelectorAll('.menuList li');
    const chooseContents = document.querySelectorAll('.pageFrame > div')
    let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

    for (let i = 0; i < chooseMenu.length; i++) {
        chooseMenu[i].querySelector('.btn').addEventListener('click', function (e) {
            e.preventDefault();
            for (let j = 0; j < chooseMenu.length; j++) {
                // 나머지 버튼 클래스 제거
                chooseMenu[j].classList.remove('defaultMenu');

                // 나머지 컨텐츠 display:none 처리
                chooseContents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('defaultMenu');

            // 버튼 클릭시 컨텐츠 전환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }
</script>


