<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/myPage/myPage.css}" rel="stylesheet"/>
    <title>게시판</title>
</head>
<header>
    <th:block th:replace="~{/fragments/header.html :: header(${userName})}"></th:block>
</header>
<main class="font-base">
    <div id="menu" class="textRight">
        <ul class="menuList">
            <div class="myImageChangeFrame">
                <div>

                </div>
                <button> 변경하기</button>
            </div>
            <li class="defaultMenu">
                <a href="#myInfo" class="btn">
                    <span>내 정보</span>
                </a>
            </li>
            <li>
                <a href="#myContent" class="btn">
                    <span>내 게시물</span>
                </a>
            </li>
            <li>
                <a href="#pwChange" class="btn">
                    <span>비밀번호 변경</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="myPage">
        <div class="pageFrame">
            <div id="myInfo"
                 style="display:block;">
                <div th:replace="/myPage/myInfo :: myInfo(${userInfo})">

                </div>
            </div>
            <div id="myContent"
                 style="display: none;">
                <div th:replace="/myPage/myContent :: myContent(${userInfo})">

                </div>
            </div>
            <div id="pwChange"
                 style="display: none;">
                <div th:replace="/myPage/pwChange :: pwChange(${userInfo})">

                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

<!--.tab_menu-->

<script>
    const chooseMenu = document.querySelectorAll('.menuList li');
    const chooseContents = document.querySelectorAll('.pageFrame > div')
    const beforeClickMenu = document.getElementsByClassName('btn');
    let activeCont = ''; // 현재 활성화 된 컨텐츠 (기본:#tab1 활성화)

    for (let i = 0; i < chooseMenu.length; i++) {
        chooseMenu[i].querySelector('.btn').addEventListener('click', function (e) {
            e.preventDefault();
            for (let j = 0; j < chooseMenu.length; j++) {
                // 나머지 버튼 클릭 색상 제거
                beforeClickMenu[j].style.backgroundColor = "white";

                // 나머지 버튼 클래스 제거
                chooseMenu[j].classList.remove('defaultMenu');

                // 나머지 컨텐츠 display:none 처리
                chooseContents[j].style.display = 'none';
            }

            // 버튼 관련 이벤트
            this.parentNode.classList.add('defaultMenu');
            this.style.backgroundColor = "#6EAA5E";

            // 버튼 클릭시 컨텐츠 전환 + 버튼 변환
            activeCont = this.getAttribute('href');
            document.querySelector(activeCont).style.display = 'block';
        });
    }

    const btn = document.querySelectorAll('.testButton');
    const div = document.querySelectorAll('.testFrame');

    for (let i = 0; i < btn.length; i++) {
        btn[i].addEventListener('click', function (e) {
            for (let j = 0; j < btn.length; j++) {
                div[j].style.display = 'none';
            }

            if(div[i].style.display !== 'none'){
                div[i].style.display = 'none';
            } else {
                div[i].style.display = 'block';
            }

            console.log(i);
            console.log(div[i]);
        });
    }
</script>


