<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="pwChange(userInfo)">
    <div id="pwChangeFragment" class="textCenter">
        <form th:action="@{/myPage/updateUserPw}"
              method="post"
              th:object="${updateUserPw}">
            <div class="pwChangeFrame textLeft">
                <p>
                    <label for="beforePw">현재 비밀번호</label>
                    <input id="beforePw" type="text" th:field="*{beforePw}" placeholder="현재 패스워드"/>
                </p>
                <p>
                    <label for="afterPw">새로운 비밀번호</label>
                    <input id="afterPw" type="text" th:field="*{afterPw}" placeholder="새로운 비밀번호"/>
                </p>
                <p>
                    <label for="oneMoreAfterPw">새로운 비밀번호 확인</label>
                    <input id="oneMoreAfterPw" type="text" th:field="*{oneMoreAfterPw}" placeholder="새로운 비밀번호 확인"/>
                </p>
                <button class="buttonSet" type="submit">변경하기</button>
            </div>
        </form>
    </div>
</th:block>
</body>

</html>