<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="pwChange(userInfo)">
<main>
<div>
    <form th:action="@{/myPage/updateUserPw}"
    method="post"
    th:object="${updateUserPw}">
        <input type="text" th:field="*{beforePw}" placeholder="현재 패스워드"/>
        <input type="text" th:field="*{afterPw}" placeholder="바꾸려는 패스워드"/>
        <input type="text" th:field="*{oneMoreAfterPw}" placeholder="한 번더 패스워드"/>
        <button>변경하기</button>
    </form>
</div>
</main>
</th:block>
</body>

</html>