@import "../cssInput/reset.css";
@import "../cssInput/color.css";
@import "../header.css";

/* All */
* {
    color: var(--fontColor);
}
html, body {
    font-size: 62.5%;       /* 10px */
    background-color: var(--backgroundColor);
}
main {
    width: 70%;
    margin : 0 auto;
    padding-top: 8rem;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}

/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 1rem;
}

/* frameSize */
.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* ----------------------------------------------------------- */
/* main */
main #index {
    width: 100%;
    height: 15rem;
    margin: 5rem 0 0;
    position: relative;
}
main #index h1 {
    margin-bottom: 2rem;
}
main #index p {
    margin-bottom: 4rem;
}
main #index .search {
    display: flex;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}
main #index .search input {
    width: 70%;
    height: 100%;
}
main #index .search .searchButton{
    margin-left: 5%;
    width: 25%;
    height: 110%;
}
main #index .write{
    width: 100%;
    height: 4.5rem;
}

main #write {
    width: 100%;
    height: 70rem;
    position: relative;
}
main #write .title {
    width: 100%;
    height: 3rem;
    border: 0;
    border-bottom: 0.1rem solid var(--fontColor);
}
main #write .content {
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
}
main #write .passwordFrame {
    display: flex;
}
main #write .passwordFrame .password {
    width: 80%;
    height: 3rem;
    border: 0;
    border-bottom: 0.1rem solid var(--fontColor);
}
main #write .passwordFrame button {
    margin-left: 5%; 
    width: 15%;
}