<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <main>
        <div id="login">
            <div class="innerFrame">
                <div class="loginBox textCenter">
                    <div th:if="${param.error}">Invalid username and password.</div>
                    <div th:if="${param.logout}">You have been logged out.</div>

                    <img src="icon/ForLiveMe_Logo.png" />

                    <form th:action="@{/login}" method="post">
                        <input class="idInput" type="text" name="username" placeholder="email" />
                        <input class="pwInput" type="password" name="password" placeholder="password" />
                        <button type="submit" class="buttonSet">로그인</button>
                        <div class="joinText">
                            <p> 아직 회원이 아니신가요?</p>
                            <button type="button" onclick="location.href='/join';">회원가입</button>
                        </div>
                    </form>
                    <div class="otherPlatform">
                        <a href="" style="background-color: yellow;">k</a>
                        <a href="" style="background-color: gray;">G</a>
                        <a href="" style="background-color: green;">N</a>
                        <a href="" style="background-color: blue;">F</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>