<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_write.css}" rel="stylesheet" />
    <title>비밀일기</title>
</head>
<body>
    <header>
        <th:block th:replace="/fragments/header.html :: header"></th:block>
    </header>
    <main class="textLeft">
        <div id="index">
            <div class="innerFrame">
                <h1>비밀일기</h1>
                <p>남들에게 털어놓을 수 없는 말들을<br>
                    비밀일기에 털어내보세요</p>
            </div>
        </div>
        <form th:action="@{/secretDiaryWrite}" method="post" th:object="${secretDiaryDto}">
            <div id="write">
                <div class="innerFrame">
                    <input class="title" type="text" name="sdTitle"
                        placeholder=" 제목을 적어주세요 (등록 시 수정 불가능)">
                    <textarea class="content" type="text" name="sdContent"
                              placeholder=" 내용을 적어주세요. (등록 시 수정 불가능)"></textarea>
                    <div class="passwordFrame">
                        <input class="password" type="password" name="sdPassword"
                            placeholder=" 일기 비밀번호 (등록 시 수정 불가능)">
                        <button class="buttonSet" type="submit">
                            작성하기
                        </button>
                    </div>
                </div>
            </div>
        </form>>
    </main>
    <footer>

    </footer>
</body>
</html>