<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_list.css}" rel="stylesheet"/>
    <title>비밀일기</title>
</head>

<body>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main class="textLeft">
    <div id="index">
        <div class="innerFrame">
            <h1>비밀일기</h1>
            <h2>남들에게 털어놓을 수 없는 말들을<br>
                비밀일기에 털어내보세요</h2>
            <div class="search">
                <form th:action="@{/secretDiaryList/search}" method="get">
                    <input type="text" name="keyword" th:value="${keyword}"
                           placeholder="원하는 시간/내용으로 일기를 찾아보세요." />
                    <button class="searchButton buttonSet">
                        검색
                    </button>
                </form>
            </div>
            <button class="write buttonSet"
                    th:onclick="|location.href='@{/secretDiaryWrite}'|">
                일기쓰기
            </button>
        </div>
    </div>
    <div id="list">
        <div class="innerFrame">
            <div class="listFrame">
                <div class="listContent"
                     th:each="sdList : ${secretDiaryList}">
                    <a th:href="@{/secretDiaryList/before/{listNum}(listNum=${sdList.sdNum})}">
                        <h2 th:text="${sdList.sdTitle}"></h2>
                        <p th:text="${timeCheckList
                                        .get(secretDiaryList.indexOf(sdList))}">
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>

</body>

</html>