<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_list.css}" rel="stylesheet"/>
    <title>비밀일기</title>
</head>

<body>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main class="textLeft">
    <div id="index">
        <div class="innerFrame">
            <h1>비밀일기</h1>
            <h2>남들에게 털어놓을 수 없는 말들을<br>
                비밀일기에 털어내보세요</h2>
            <div class="search">
                <input type="text" placeholder="원하는 시간/내용으로 일기를 찾아보세요.">
                <button class="searchButton buttonSet">
                    검색
                </button>
            </div>
            <button class="write buttonSet">
                일기쓰기
            </button>
        </div>
    </div>
    <div id="list">
        <div class="innerFrame">
            <div class="listContent" style="z-index: 999; margin-top:100px">
                <div th:each="list : ${secretDiaryList}">
                    <a th:href="@{/secretDiaryList/{listNum}(listNum=${list.sdNum})}">
                        <h2 th:text="${list.sdTitle}"></h2>
                        <p th:text="${list.sdWriteDate}"></p>
                    </a>
                </div>
<!--                <div th:each="pageNum : ${pageList}">-->
<!--                    <a>-->
<!--                        <p th:text="${pageNum} "></p>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--    <div id="pageNation">-->
<!--        <div class="innerFrame textCenter">-->
<!--            <a href="">-->
<!--                1 2 3 4 5 6 7 8 9-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
</main>
<footer>

</footer>

</body>

</html>