<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_write.css}" rel="stylesheet" />
    <title>비밀일기</title>
</head>

<body>
    <header>
        <th:block th:replace="~{/fragments/header.html :: header(${userInfo})}"></th:block>
    </header>
    <main class="textLeft">
        <div id="moveImage">
            <img class="mainMoveImage" src="../../static/icon/main_image_sample.jpg" alt="메인화면 맨 위 이미지">
        </div>
        <div id="index">
            <div class="innerFrame">
                <h1>비밀일기</h1>
                <p>남들에게 털어놓을 수 없는 말들을<br>
                    비밀일기에 털어내보세요</p>
                <div class="search">
                    <input type="text" placeholder="원하는 시간/내용으로 일기를 찾아보세요.">
                    <button class="searchButton buttonSet">
                        검색
                    </button>
                </div>
                <button class="write buttonSet">
                    일기쓰기
                </button>
            </div>
        </div>
        <div id="list">
            <div class="innerFrame">
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
                <div class="listContent">
                    <h2>221109 너무힘들다</h2>
                    <p>6시간 전</p>
                </div>
            </div>
        </div>
        <div id="pageNation">
            <div class="innerFrame textCenter">
                <a href="">
                    1 2 3 4 5 6 7 8 9 
                </a>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script>
        w3.includeHTML();
    </script>
</body>

</html>