<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_view.css}" rel="stylesheet"/>
    <title>비밀일기</title>
</head>
<body>
<header>
    <th:block th:replace="~{/fragments/header.html :: header(${userName})}"></th:block>
</header>
<main class="textLeft font-base">
    <div id="index">
        <div class="innerFrame">
            <h1>비밀일기</h1>
        </div>
    </div>
    <div id="view">
        <div class="innerFrame">
            <div class="title" th:text="${secretDiaryDto.sdTitle}"></div>
            <div class="content" th:text="${secretDiaryDto.sdContent}"></div>
            <div class="buttonFrame">
                <button class="updateButton buttonSet"
                        th:onclick="|location.href='@{/secretDiaryList/update/{listNum}(listNum=${secretDiaryDto.sdNum})}'|">
                    수정
                </button>
                <button class="deleteButton buttonSet"
                        th:onclick="|location.href='@{/secretDiaryList/delete/{listNum}(listNum=${secretDiaryDto.sdNum})}'|">
                    삭제
                </button>
            </div>
        </div>
    </div>
    </form>
</main>
<footer>

</footer>
</body>
</html>