<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/board/board_update.css}" rel="stylesheet"/>
    <title>내 편지함</title>
</head>
<body>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main class="textLeft font-base">
    <div id="index">
        <div class="innerFrame">
            <h1>게시판</h1>
        </div>
    </div>
    <form th:action="@{/empathyBoardList/update/{listNum}(listNum=${empathyBoardDto.ebNum})}"
          method="post"
          th:object="${empathyBoardDto}">
        <div id="update">
            <div class="innerFrame">
                <input class="title" type="text" name="ebTitle"
                       th:value="${empathyBoardDto.ebTitle}">
                <textarea class="content" type="text" name="ebContent"
                          th:value="${empathyBoardDto.ebContent}" th:text="${empathyBoardDto.ebContent}"></textarea>
                <div class="buttonFrame">
                    <button class="updateButton buttonSet">
                        수정
                    </button>
                    <button type="button" class="cancelButton buttonSet"
                            th:onclick="|location.href='@{/empathyBoardList/{listNum}(listNum=${empathyBoardDto.ebNum})}'|">
                        취소
                    </button>
                </div>
            </div>
        </div>
    </form>
</main>
<footer>

</footer>
</body>
</html>