<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/secretDiary/secretDiary_write.css}" rel="stylesheet"/>
    <title>비밀일기</title>
</head>
<body>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main class="textLeft">
    <div id="index">
        <div class="innerFrame">
            <h1>비밀일기</h1>
            <p>남들에게 털어놓을 수 없는 말들을<br>
                비밀일기에 털어내보세요</p>
        </div>
    </div>
    <div id="write">
        <div class="innerFrame">
            <div th:text="${secretDiaryDto.SdTitle}"></div>
            <div th:text="${secretDiaryDto.SdContent}"></div>
        </div>
    </div>

    <button th:onclick="|location.href='@{/secretDiaryList/update/{listNum}(listNum=${secretDiaryDto.sdNum})}'|">
        수정
    </button>
    <button th:onclick="|location.href='@{/secretDiaryList/delete/{listNum}(listNum=${secretDiaryDto.sdNum})}'|">
        삭제
    </button>
    </form>>
</main>
<footer>

</footer>
</body>
</html>