<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/letter/letter_writeList.css}" rel="stylesheet"/>
    <title>내 편지함</title>
</head>
<body>
<header>
    <th:block th:replace="~{fragments/header.html :: header(${userName})}"></th:block>
</header>
<main class="textCenter font-base">
    <div id="index">
        <div class="innerFrame textLeft">
            <h1>편지</h1>
            <h2>다른 사람에게 한 마디의 편지를 보내고 받을 수 있어요.<br>
                힘들고 지칠 때, 써보아요</h2>
            <div class="letterWrite">
                <input type="text" placeholder="한 문장으로 작성해주세요.">
                <button class="writeButton buttonSet">
                    전송
                </button>
            </div>
        </div>
    </div>
    <form th:action="@{/letterWrite}" method="post" th:object="${letterDto}">
        <div id="unLetterWrite">
            <div class="innerFrame textLeft">
                <h1>미답장 편지</h1>
                <div class="letterFrame">
                    <div class="letterWrite">
                        <input type="text" placeholder="한 문장으로 작성해주세요."
                               name="leContent">
                        <button class="writeButton buttonSet">
                            전송
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<footer>

</footer>
</body>
</html>