<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/letter/letter_myList.css}" rel="stylesheet"/>
    <title>내 편지함</title>
</head>
<body>
<header>
    <th:block th:replace="/fragments/header.html :: header(${userInfo})"></th:block>
</header>
<main class="textCenter font-base">
    <div id="index">
        <div class="innerFrame textLeft">
            <h1>편지</h1>
            <h2>다른 사람에게 한 마디의 편지를 보내고 받을 수 있어요.<br>
                힘들고 지칠 때, 써보아요</h2>
            <div class="letterWrite">
                <input type="text" placeholder="한 문장으로 작성해주세요.">
                <button class="writeButton buttonSet">
                    전송
                </button>
            </div>
        </div>
    </div>
    <div id="myLetterBox">
        <div class="innerFrame textLeft">
            <h1>내 편지함</h1>
            <div class="letterFrame">
                <div class="letterSends"
                     th:each="leList : ${letterList}">
                    <div class="letterSendsContent">
                        <h2 class="letterTitle"
                            th:text="${leList.leContent}"></h2>
                        <p class="letterDate"
                           th:text="${timeCheckList
                                        .get(letterList.indexOf(leList))}">
                        </p>
                    </div>
                    <div class="imgFrame">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             class=""
                             viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>