@import "cssInput/reset.css";
@import "cssInput/color.css";
* {
    color: var(--fontBaseColor);
    font-family: arial, sans-serif;
}
html, body {
    font-size: 62.5%;       /* 10px */
}
main {
    width: 100%;
    margin : 0 auto;
    padding-top: 8rem;
}
/* 클릭 이벤트용 */
svg {
    pointer-events: none;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2.4rem;
}

/* font-weight*/
.fontBold {
    font-weight: bold;
}

/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontBaseColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 1rem;
}

/* frameSize */
.mainWidthSize {
    width: 70%;
    height: 100%;
    position: relative;
    margin : 0 auto;
}

.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------------*/
/* header */
header {
    width: 100%;
    height: 8rem;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0.4rem 0.4rem -0.4rem var(--fontHoverColor);
}
header .headerBox {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
header .headerBox_login ul {
    width: 100%;
    height: 100%;
    display: flex;
}
header .headerBox_login ul .headerBoxLeft {
    width: auto;
    height: 100%;
    display: flex;
}
header .headerBox_logout ul .headerBoxLeft {
    width: auto;
    height: 100%;
    display: flex;
}
header .headerBox ul .headerBoxLeft li .headerLogo{
    width: auto;
    height: 100%;
    margin-right: 3rem;
}
header .headerBox ul .headerBoxLeft li:nth-child(n+2){
    text-align: center;
    margin-right: 3rem;
    padding: 3rem 0;
}
header .headerBox ul .headerBoxLeft li:hover {
    opacity: 0.8;
}
header .headerBox_login ul .headerBoxRight {
    width: auto;
    height: 100%;
    display: flex;
}
header .headerBox_logout ul .headerBoxRight {
    width: auto;
    height: 100%;
    display: flex;
}
header .headerBox ul .headerBoxRight li{
    padding: 2rem 0;
    margin-right: 2rem;
}
header .headerBox ul .headerBoxRight li button{
    width: 8rem;
    height: 4rem;
}
header .headerBox ul .headerBoxRight li button:hover{
    opacity: 0.8;
}
header .headerBox ul .headerBoxRight li .userImage{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.1rem solid #333333;
}
header .headerBox ul .headerBoxRight li p{
    text-align: center;
    padding: 1rem 0;
}
header .headerBox ul .headerBoxRight li .alarm{
    width: 4rem;
    height: auto;
}