/* root */
:root {
    /* Color */
    --mainColor : #6EAA5E;
    --subColor : #DBEAD5;

    /* Font Color */
    --fontBaseColor : #333333;
    --fontgrayColor : #484b53;
    --fontHoverColor : #dddddd;

    /* BackGround Color */
    --lightGreenBackGroundColor : #F8FDF9;
    --grayBackGroundColor: #ebebeb;
}