@import "../cssInput/reset.css";
@import "../cssInput/color.css";
@import "../header.css";


/* All */
* {
    color: var(--fontBaseColor);
    font-family: arial, sans-serif;
}
html, body {
    font-size: 62.5%;       /* 10px */
}
/* myPage용 main css*/
main {
    display: flex;
    width: 70%;
    height: 100%;
    margin : 0 auto;
    padding-top: 12rem;
    border: 1px solid var(--grayBackGroundColor);
}
/* 클릭 이벤트용 */
svg {
    pointer-events: none;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2.4rem;
}

/* font-weight*/
.fontBold {
    font-weight: bold;
}

/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontBaseColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 1rem;
}

/* frameSize */
.mainWidthSize {
    width: 70%;
    height: 100%;
    position: relative;
    margin : 0 auto;
}

.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------------------------------------*/
/*main*/
main #menu {
    width: 25%;
    height: 100%;
}
main #menu .menuList {
    width: 100%;
    height: 100%;
    box-shadow: 1rem 0rem 1rem -1rem var(--fontHoverColor);
}

main #menu .menuList .myImageChangeFrame {
    position: relative;
    width: 100%;
    height: 12rem;
    margin: 0 auto 3rem;
}
main #menu .menuList .myImageChangeFrame div {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 50%;
}
main #menu .menuList .myImageChangeFrame button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(50%, 25%);
    border-radius: 50%;
}
main #menu .menuList li{
    width: 100%;
    height: 5rem;
}
main #menu .menuList li a{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
main #menu .menuList li a:hover {
    opacity: 0.8;
}
main #menu .menuList li a span{
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

main #myPage {
    padding-left: 5%;
    width: 75%;
    height: 100%;
}
main #myPage .pageFrame {
    width: 100%;
    height: 100%;
}
main #myPage .pageFrame #myInfo {
    width: 100%;
    height: 100%;
}
/* main #myPage .pageFrame #myInfo */
#myInfoFragment{
    width: 100%;
    height: 100%;
}
#myInfoFragment form{
    width: 100%;
    height: 100%;
}
#myInfoFragment form .myInfoChangeFrame {
}
#myInfoFragment form .myInfoChangeFrame > p{
    box-sizing: border-box;
    margin-bottom: 5rem;
}
#myInfoFragment form .myInfoChangeFrame p label {

}
#myInfoFragment form .myInfoChangeFrame #myInfoEmail{
}
#myInfoFragment form .myInfoChangeFrame #myInfoInputName{
}
#myInfoFragment form .myInfoChangeFrame #myInfoInputGender{
}
#myInfoFragment form .myInfoChangeFrame button{
    width: 8rem;
    height: 4rem;
}
#myInfoFragment form .myInfoChangeFrame button:hover{
    opacity: 0.8;
}

#pwChangeFragment{
    width: 100%;
    height: 100%;
}
#pwChangeFragment form{
    width: 100%;
    height: 100%;
}
#pwChangeFragment form .pwChangeFrame {
}
#pwChangeFragment form .pwChangeFrame > p{
    box-sizing: border-box;
    margin-bottom: 5rem;
}
#pwChangeFragment form .pwChangeFrame p label {

}
#pwChangeFragment form .pwChangeFrame #beforePw{
}
#pwChangeFragment form .pwChangeFrame #afterPw{
}
#pwChangeFragment form .pwChangeFrame #oneMoreAfterPw{
}
#pwChangeFragment form .pwChangeFrame button{
    width: 8rem;
    height: 4rem;
}
#pwChangeFragment form .pwChangeFrame button:hover{
    opacity: 0.8;
}
