@import "../cssInput/reset.css";
@import "../cssInput/color.css";
@import "../header.css";


/* All */
* {
    color: var(--fontBaseColor);
}
html, body {
    font-size: 62.5%;       /* 10px */
}
main {
    width: 70%;
    margin : 0 auto;
    padding-top: 8rem;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2.4rem;
}


/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontBaseColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 1rem;
}

/* frameSize */
.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------------------------------- */
/* main */
main #index {
    width: 100%;
    height: 25rem;
    margin: 5rem 0 0;
    position: relative;
}
main #index h1 {
    margin-bottom: 2rem;
}
main #index h2 {
    margin-bottom: 4rem;
}
main #index .letterWrite {
    display: flex;
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}
main #index .letterWrite input {
    width: 80%;
    height: auto;
}
main #index .letterWrite .writeButton{
    margin-left: 5%;
    width: 15%;
    height: 100%;
}

main #myLetterBox{
    width: 100%;
    height: auto;
    margin: 15rem 0 0;
    position: relative;
}
main #myLetterBox h1 {
    margin-bottom: 2rem;
}
main #myLetterBox .letterFrame {
    width: 100%;
}
main #myLetterBox .letterFrame .letterSends{
    width: 100%;
    height: 12rem;
    display: flex;
    padding: 2% 5%;
    box-sizing: border-box;
    border-top: 1px solid var(--fontHoverColor);
}
main #myLetterBox .letterFrame .letterSends:last-child {
    border-bottom: 1px solid var(--fontHoverColor);
}
main #myLetterBox .letterFrame .letterSends .letterSendsContent{
    width: 95%;
    height: 100%;
}
main #myLetterBox .letterFrame .letterSends .letterSendsContent .letterTitle {
    width: 100%;
    height: 80%;
}
main #myLetterBox .letterFrame .letterSends .letterSendsContent .letterDate {
    width: 100%;
    height: 20%;
}
main #myLetterBox .letterFrame .letterSends .imgFrame {
    position: relative;
    width: 5%;
    height: 100%;;
}
main #myLetterBox .letterFrame .letterSends .imgFrame svg{
    position: absolute;
    width: 100%;
    height: auto;
    fill: var(--fontBaseColor);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
