<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/ImageSlide.js}"></script>
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <title>ForLiveMe</title>
</head>
<body>
<header>
    <th:block th:replace="~{/fragments/header.html :: header(${userInfo})}"></th:block>
</header>
<main class="textCenter font-base">
    <div id="moveImage">
        <div class="moveImageFrame">
            <ul class="imageSlider">
                <li><img src="/icon/main_image_sample.jpg" alt=""></li>
                <li><img src="/icon/main_image_sample.jpg" alt=""></li>
                <li><img src="/icon/main_image_sample.jpg" alt=""></li>
                <li><img src="/icon/main_image_sample.jpg" alt=""></li>
                <li><img src="/icon/main_image_sample.jpg" alt=""></li>
            </ul>
            <div class="imageSliderArrow">
                <a href="" class="prev floatLeft">
<!--                    <img class="prev leftArrow" src="/icon/caret-left-fill.svg" alt="왼쪽 화살표"/>-->
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor"
                         class="leftArrow"
                         viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </a>
                <a href="" class="next floatRight">
<!--                    <img class="next rightArrow" src="/icon/caret-right-fill.svg" alt="오른쪽 화살표"/>-->
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor"
                         class="rightArrow"
                         viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </a>
            </div>

        </div>
    </div>
    <div id="recommendService">
        <div class="mainWidthSize">
            <div class="innerFrame">
                <h1 class="textLeft">
                    저희
                    <small class="fontBold">ForLiveMe</small>
                    에서<br>
                    힘든 일, 슬픈 일 모두 놓아두고 가세요.
                </h1>
                <h2 class="fontBold">추천서비스</h2>
                <p>편지 - 비밀일기 - 공감게시판</p>
                <p class="textRight textDecoration">더보기</p>
                <div class="serviceFrame">
                    <div class="serviceForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="편지 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/letterMyList}'|">편지
                        </button>
                    </div>
                    <div class="serviceForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="비밀일기 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/secretDiaryList}'|">
                            비밀일기
                        </button>
                    </div>
                    <div class="serviceForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="공감게시판 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/empathyBoardList}'|">
                            공감게시판
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="simpleTest">
        <div class="mainWidthSize">
            <div class="innerFrame">
                <h1>
                    간단한 검사로 나에게 필요한 것들을 알려드릴게요!<br>
                    지금 나한테 필요한 건 뭘까...?
                </h1>
                <button type="button" class="buttonSet"
                        th:onclick="|location.href='@{/simpleTest}'|">
                    간단한 검사 하러가기
                </button>
            </div>
        </div>
    </div>
    <div id="company">
        <div class="mainWidthSize">
            <div class="innerFrame">
                <h1 class="textLeft">
                    <small class="fontBold">ForLiveMe</small>
                    에서<br>
                    준비한 추천 이벤트!
                </h1>
                <h2 class="fontBold">추천이벤트</h2>
                <p class="textRight textDecoration">더보기</p>
                <div class="companyFrame">
                    <div class="companyForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="편지 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/letterMyList}'|">편지
                        </button>
                    </div>
                    <div class="companyForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="편지 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/letterMyList}'|">편지
                        </button>
                    </div>
                    <div class="companyForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="편지 서비스 이미지">
                        <button type="button" class="buttonSet"
                                th:onclick="|location.href='@{/letterMyList}'|">편지
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="record">
        <div class="mainWidthSize">
            <div class="innerFrame">
                <h1 class="textLeft">
                    이미 (회원수)명의 사람들이<br>
                    ForLiveME와 함께하고 있어요
                </h1>
                <div class="recordFrame">
                    <div class="recordForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="편지 서비스 이미지">
                        <div class="recordText textLeft">
                            <p>누적멤버</p>
                            <p>멤버 수</p>
                            <p>(2022년 9월 26일 기준)</p>
                        </div>
                    </div>
                    <div class="recordForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="비밀일기 서비스 이미지">
                        <div class="recordText textLeft">
                            <p>누적 공감게시글 수</p>
                            <p>게시글 수</p>
                            <p>(2022년 9월 26일 기준)</p>
                        </div>
                    </div>
                    <div class="recordForm">
                        <img src="/icon/ForLiveMe_Logo.png" alt="공감게시판 서비스 이미지">
                        <div class="recordText textLeft">
                            <p>누적 편지 수</p>
                            <p>편지 수</p>
                            <p>(2022년 9월 26일 기준)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>

</html>