<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/icon/ForLiveMe_Logo.png}" rel="icon"/>
    <link th:href="@{/css/join.css}" rel="stylesheet" />
    <title>Join</title>
</head>
<body>
    <main class="font-base">
        <div id="join">
            <div class="innerFrame">
                <div class="joinBox textCenter">
                    <div>
                        <img src="/icon/ForLiveMe_Logo.png" alt="">
                    </div>
                    <form th:action="@{/join}" method="post" th:object="${userDto}">
                        <input class="emailInput" name="email" type="text" placeholder="이메일">
                        <input class="pwInput" name="password"  type="password" placeholder="패스워드">
<!--                        <input class="oneMorePwInput" type="password" placeholder="패스워드">-->
                        <input class="nameInput"  name="name"  type="text" placeholder="이름">
                        <input class="genderInput"  name="gender"  type="text" placeholder="성별 (m/w)">
                        <button class="buttonSet" type="submit">가입하기</button>
                        <button class="buttonSet" style="background-color: #dddddd" type="button" onclick="location.href='/';">취소</button>
                        <div class="otherPlatform">
                            <a href="" style="background-color: yellow;">k</a>
                            <a href="" style="background-color: gray;">G</a>
                            <a href="" style="background-color: green;">N</a>
                            <a href="" style="background-color: blue;">F</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>