@import "../cssInput/reset.css";
@import "../cssInput/color.css";
@import "../header.css";

/* All */
* {
    color: var(--fontColor);
}
html, body {
    font-size: 62.5%;       /* 10px */
    background-color: var(--backgroundColor);
}
main {
    width: 70%;
    margin : 0 auto;
    padding-top: 8rem;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2.4rem;
}

/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 10px;
}

/* frameSize */
.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* ----------------------------------------------------------- */
/* main */
main #index {
    width: 100%;
    height: 25rem;
    margin: 5rem 0 0;
    position: relative;
}
main #index h1 {
    margin-bottom: 2rem;
}
main #index h2 {
    margin-bottom: 4rem;
}
main #index .search {
    display: flex;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
}
main #index .search input {
    width: 70%;
    height: 100%;
}
main #index .search .searchButton{
    margin-left: 5%;
    width: 25%;
    height: 110%;
}
main #index .write{
    width: 100%;
    height: 4.5rem;
}

main #list {
    width: 100%;
    height: 110rem;
    position: relative;
    margin: 5rem 0 0;
}
main #list .listContent {
    width: 100%;
    height: 10rem;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}
main #list .listContent div{
    width: 100%;
    height: 100%;
}
main #list .listContent div a{
    width: 100%;
    height: 100%;
}
main #list .listContent div a:nth-child(2n-1) {
    background-color: var(--subColor);
}
main #list .listContent h2 {
    margin-bottom: 4rem;
}
main #list .listContent p {
    text-align: right;
}

main #pageNation {
    width: 100%;
    height: 5rem;
    position: relative;
}
main #pageNation a {
    width: 100%;
    height: 100%;
}