@import "../cssInput/reset.css";
@import "../cssInput/color.css";
@import "../header.css";


/* All */
* {
    color: var(--fontBaseColor);
    font-family: arial, sans-serif;
}
html, body {
    font-size: 62.5%;       /* 10px */
}
main {
    width: 100%;
    margin : 0 auto;
    padding-top: 8rem;
}
/* 클릭 이벤트용 */
svg {
    pointer-events: none;
}

/* fontSize */
.font-xs {
    font-size: 1.2rem;
}
.font-sm {
    font-size:  1.4rem;
}
.font-base {
    font-size: 1.6rem
}
.font-lg {
    font-size:  1.8rem;
}
.font-xl {
    font-size:  2rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size:  2.4rem;
}

/* font-weight*/
.fontBold {
    font-weight: bold;
}

/* float */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}


/* text-align */
.textLeft {
    text-align: left;
}
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}

/* text-decoration */
.textDecoration {
    text-decoration: var(--fontBaseColor) underline;
}

/* button */
.buttonSet {
    color: white;
    background-color: var(--mainColor);
    border: 0;
    border-radius: 1rem;
}

/* frameSize */
.mainWidthSize {
    width: 70%;
    height: 100%;
    position: relative;
    margin : 0 auto;
}

.innerFrame{
    width: 75%;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------------------------------- */
/* main */
main #index {
    width: 100%;
    height: 15rem;
    margin: 5rem 0 0;
    position: relative;
}
main #index h1 {
    margin-bottom: 2rem;
}
main #index p {
    margin-bottom: 4rem;
}

main #write {
    width: 100%;
    position: relative;
}
main #write .passwordFrame {
    width: 100%;
    height: 5rem;
}
main #write .passwordFrame form{
    width: 100%;
    height: 100%;
}
main #write .passwordFrame .password {
    width: 50%;
    height: 100%;
    border: 0;
    border-bottom: 0.1rem solid var(--fontBaseColor);
}
main #write .passwordFrame button {
    margin-left: 10%;
    width: 15%;
    height: 100%;
}